.product {
  &__img {
    position: relative;
    .mp();
    border-radius: 50%;
    overflow: hidden;

    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 100%;
      max-width: 100%;
    }
  }

  &__price,
  &__cost {
    .mp();
    position: relative;
    display: inline-block;

    &::after {
      display: inline-block;
      position: absolute;
    }
  }

  &__title {
    .mp();
  }

  &__quantity {
    display: inline-block;
    position: relative;
    padding-right: 1em;

    &::after {
     display: inline-block;
     position: absolute;
     content: "кг";
    }
  }

  &__link {
    display: none;
    position: absolute;
    left: 50%;
    bottom: -70px;
    width: 200px;
    transform: translate(-50%, 0);
  }

  &__cost {
    padding-right: 2em;
  }
}

.basket__table .product{
  font-size: 1.3rem;

  &__img {
    width: 33px;
    height: 33px;
  }

  &__price {
    display: inline-block;
    position: relative;
    padding-right: 2em;
    color: @gray;

    &::after {
      content: "руб.";
    }
  }

  &__cost {
    &::after {
      content: "руб.";
    }
  }

  &__title {
    font-weight: 400;
    font-size: 1.3rem;
  }

  &__title a:hover,
  &__title a:focus,
  &__title a:active {
    transition: @transition;
    color: @orange;
    text-decoration: underline;
    outline: none;
  }
}

.catalog .product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  transition: @transition;

  &::before {
    opacity: 0;
    content: "";
    position: absolute;
    width: 295px;
    height: 405px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(248,247,244,.2);
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.4);
    border-radius: 5px;
    z-index: -5;
  }

  &__img {
    width: 267px;
    height: 267px;
  }

  &__price {
    font-size: 4.5rem;
    font-weight: bold;
    color: @light;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
    margin-top: -70px;
    margin-bottom: 25px;
    align-self: stretch;

    &::after {
      content: "₽/кг";
    }
  }

  &__cost {
    &::after {
      content: "₽";
    }
  }

  &__title a:focus {
    outline: none;
  }

  &:hover {
    z-index: 10;
    &::before {
      transition: @transition;
      opacity: 1;
    }
  }
}

.catalog .product--hit::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 13px;
  width: 61px;
  height: 61px;
  background-image: url("../img/catalog/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.product:hover,
.product:focus {
  & .product__link {
    display: block;
  }
}




