.subscription {
  width: 560px;
  border-radius: 15px;
  background-color: #fefefe;
  background-image: url("../img/subscription/bg-subscription.png");
  background-repeat: repeat;
  background-position: 0 0;
  color: #5a5a5a;
  font-size: 1.6rem;
}

.subscription__wrap {
  margin: 5px;
  min-height: 210px;
  border-radius: 15px;
  padding: 35px 25px 25px;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
}
.subscription__description {
  margin-bottom: 35px;
}

.subscription__description p {
  .mp();
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.subscription__form {
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.subscription__form p {
  flex-grow: 1;
  margin-right: 10px;
  margin-bottom: 0;
  transition: @transition;
}

