.user-links__list {
  display: flex;
  flex-wrap: wrap;
  .list();
}

.user-links__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  .normal-font(14px);

  &:last-child {
    margin-right: 0;
  }
}

.user-links__item > a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 0 15px;
  transition: @transition;
}

.user-links__item--search > a {
  padding: 0;
  width: 32px;
  height: 32px;

  & .user-links__svg {
    margin-right: 0;
  }
}

.user-links__svg {
  fill: @light;
  margin-right: 8px;
  transition: @transition;
}

.user-links__modal {
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  padding-top: 5px;
}

.user-links__form {
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: @gray-lighter;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;

  &--search {
    width: 350px;
  }

  &--login {
    width: 280px;
  }
}

.user-links__form p {
  .mp();
  position: relative;
  flex-grow: 1;
}

.user-links__form label {
  position: absolute;
  top: -20px;
  left: 0;
  font: inherit;
  font-size: 12px;
  color: #999999;
  opacity: 0;
  transition: @transition;
}

.user-links__form input {
  .normal-font(14px);
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding: 10px 10px;
  width: 100%;
  transition: @transition;
}

.user-links__item:hover > a,
.user-links__item:focus-within > a {
  background-color: rgba(255, 255, 255, 1);
  color: @dark;
  outline: none;

  .user-links__svg {
    fill: @dark;
  }
}

.user-links__item:hover,
.user-links__item:focus-within {
  & .user-links__modal {
    display: block;
  }
}

.user-links__form input:hover,
.user-links__form input:focus {
  box-shadow: 0 0 0 1px #9a9a9a;
  /*border: 1px solid #9a9a9a;*/
  outline: none;
}

.user-links__form input:focus + label  {
  opacity: 1;
}
