.page__wrap {
  .container();

  &--post-subscription {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &--footer {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.page__main {
  position: relative;
  background-color: @company-color;
  z-index: 10;
}

.page__link {
  display: inline-flex;
  font-size: 1.3rem;
  text-decoration: underline;
  text-decoration-color: rgba(50, 50, 50, 0.3);
  transition: @transition;

  &:focus {
    outline: none;
  }

  &--dark {
    color: @gray-dark;
    text-decoration-color: rgba(@gray-dark, 0.3);

    &:hover,
    &:focus,
    &:active {
      color: @orange;
      text-decoration-color: rgba(@orange, 0.3);
    }
  }

  &--light {
    color: @light;
    text-decoration-color: rgba(@light, 0.3);

    &:hover,
    &:focus,
    &:active {
      color: @orange-light;
      text-decoration-color: rgba(@orange-light, 0.3);
    }
  }

  &--like {
    font-weight: 700;
  }
}

.catalog .page__link {
  font-size: 1.6rem;
  text-align: center;
}

.blog .page__link {
  width: 280px;
  font-size: 2.4rem;
  font-weight: 700;

  &--dark {
    color: @gray-dark;
    text-decoration-color: rgba(@gray-dark, 1);

    &:hover,
    &:focus,
    &:active {
      color: @orange;
      text-decoration-color: rgba(@orange, 1);
    }
  }
}
