.main-header {
  &__wrap {
    .container();
    position: relative;
    padding-top: 10px;
  }

  &_logo {
    margin-right: 25px;
  }

  &__contacts {
    position: absolute;
    top: 75px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__contacts-mode {
    font-size: 1.4rem;
  }

  &__contacts-phone {
    font-size: 2.2rem;
    font-weight: 700;
  }

  &__contacts-phone:hover,
  &__contacts-phone:active,
  &__contacts-phone:focus {
    transition: @transition;
    outline: none;
    text-decoration: underline;
  }
}

.index-page .main-header {
  position: absolute;
  width: 100%;
  z-index: 100;
}



